<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597852360052-99t991ovckku7erc8p2etun9ktlr82nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597852360052-99t991ovckku7erc8p2etun9ktlr82nn</string>
	<key>API_KEY</key>
	<string>AIzaSyDe_GnBJMR-_N2tyLB8tsoywfO8Fa0QBjg</string>
	<key>GCM_SENDER_ID</key>
	<string>597852360052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.reactmobileappdemo</string>
	<key>PROJECT_ID</key>
	<string>varmeegotest-d8fdd</string>
	<key>STORAGE_BUCKET</key>
	<string>varmeegotest-d8fdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597852360052:ios:26e17f4bfba475d3987021</string>
	<key>DATABASE_URL</key>
	<string>https://varmeegotest-d8fdd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>